![Cornell Day of Data](https://data.research.cornell.edu/sites/default/files/CornellDayOfData2019-hr.jpg)

# **Working with Twitter Data**

This interactive Jupyter notebook is a companion to "Working with Twitter Data," a workshop led by Melanie Walsh at Cornell's 2019 Day of Data. This notebook is designed to allow participants to use Twarc and Twint without prior set-up or installation.

Many of the cells below include code that should be run on the command-line. These cells all begin with an exclamation point `!`. The `!` allows a Jupyter notebook to run code from a shell.
![the command line](images/command-line.png)

# **Installation**

### Python

I recommend installing Python with Anaconda: https://docs.continuum.io/anaconda/install/

### [Twarc](https://github.com/DocNow/twarc)

In [ ]:
!pip install twarc

Or download and open twarc as a zip file: https://github.com/DocNow/twarc/archive/master.zip

### [Twint](https://github.com/twintproject/twint)

In [ ]:
!pip install twint

# **Tweet Collection**

## Collect tweets based on keyword and output to a CSV file with Twint

The `--search` or `-s` flag indicates scraping all tweets that include a specific keyword

The `--output` or `-o` flag indicates saving the tweets to a file

The `--csv` flag indicates write the file in CSV format

In [ ]:
!twint --search demdebate --output dem-debate-2019-10.csv --csv

### Check how many tweets have been collected

An easy way to check how many tweets have been collected is to use the `wc` command with the `-l` flag, which returns the number of lines (`-l`) in a file

In [12]:
!wc -l dem-debate-2019-10.csv

    7411 dem-debate-2019-10.csv

The cell below uses the Python library Pandas, which we will not discuss in-depth today. It's included here because it's an easy way to quickly show what the the CSV file looks like.

In [90]:
import pandas
dem_debate_tweets = pandas.read_csv('dem-debate-2019-10.csv')
dem_debate_tweets

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,quote_url,video,near,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date
0,1183913331276570629,1183913331276570629,1571101908000,2019-10-14,21:11:48,EDT,101342744,bmackiswack,Bewack,NaN,...,https://twitter.com/KyleKulinski/status/118390...,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '101342744', 'username': 'bmackis...",NaN
1,1183913274426961920,1183913274426961920,1571101895000,2019-10-14,21:11:35,EDT,1529917477,solon594bce,Matthew Kracht,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1529917477', 'username': 'solon5...",NaN
2,1183912991084961792,1183912991084961792,1571101827000,2019-10-14,21:10:27,EDT,1282194938,m4progress,Mom4justice,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1282194938', 'username': 'M4prog...",NaN
3,1183912966883819520,1183912966883819520,1571101822000,2019-10-14,21:10:22,EDT,270394054,mboteach,Melissa Boteach,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '270394054', 'username': 'mboteac...",NaN
4,1183912933111283715,1183912933111283715,1571101813000,2019-10-14,21:10:13,EDT,35221521,lensjockey,Holly Van Voast,NaN,...,https://twitter.com/LaMottJackson/status/11839...,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '35221521', 'username': 'lensjock...",NaN
5,1183912781780787201,1183912781780787201,1571101777000,2019-10-14,21:09:37,EDT,2687613918,jarheadjenny,Jenny Hawkes Jenkins,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '2687613918', 'username': 'Jarhea...",NaN
6,1183912653347053568,1183912653347053568,1571101747000,2019-10-14,21:09:07,EDT,1529917477,solon594bce,Matthew Kracht,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1529917477', 'username': 'solon5...",NaN
7,1183912541510164481,1183912541510164481,1571101720000,2019-10-14,21:08:40,EDT,1155256970653446145,pappledawn,"Dawn Papple, Independent Writer",NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1155256970653446145', 'username'...",NaN
8,1183912380478169088,1183912380478169088,1571101682000,2019-10-14,21:08:02,EDT,17006036,naral,NARAL,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '17006036', 'username': 'NARAL'},...",NaN
9,1183912277583417344,1183910821140807687,1571101657000,2019-10-14,21:07:37,EDT,730898818443530241,brendanreid20,Brendan Reid,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '730898818443530241', 'username':...",NaN
10,1183912250836430848,1183912250836430848,1571101651000,2019-10-14,21:07:31,EDT,348253153,mtmess,Mariel Messier,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '348253153', 'username': 'MtMess'}]",NaN
11,1183912203725860864,1183912203725860864,1571101640000,2019-10-14,21:07:20,EDT,1908515251,rawitt2,Rose Ann Witt,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1908515251', 'username': 'RAWitt...",NaN
12,1183912190774038528,1183912190774038528,1571101636000,2019-10-14,21:07:16,EDT,1626130034,sarahmeanswell,Sarah Means Well,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1626130034', 'username': 'Sarahm...",NaN
13,1183911922737045504,1183911922737045504,1571101573000,2019-10-14,21:06:13,EDT,2591675300,charlespdavis,Charles Davis 🇺🇸,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '2591675300', 'username': 'Charle...",NaN
14,1183911864285175809,1183911864285175809,1571101559000,2019-10-14,21:05:59,EDT,1529917477,solon594bce,Matthew Kracht,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1529917477', 'username': 'solon5...",NaN
15,1183911814008057857,1183911814008057857,1571101547000,2019-10-14,21:05:47,EDT,917481265,taxcliff,Lata Kirpalani,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '917481265', 'username': 'taxclif...",NaN
16,1183911690330468352,1183911690330468352,1571101517000,2019-10-14,21:05:17,EDT,822838851961950208,sheilal_l_smith,Sheila #StandUpForAmerica #OrganDonorForRBG,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '822838851961950208', 'username':...",NaN
17,1183911481169068032,1183911481169068032,1571101467000,2019-10-14,21:04:27,EDT,354523574,darrellwest1984,"Darrell ""America Need A New President"" West🌊🌊🌊",NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '354523574', 'username': 'Darrell...",NaN
18,1183911163463131143,1183911163463131143,1571101392000,2019-10-14,21:03:12,EDT,18530932,bming5,CrisisActor-GeezerLevel,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '18530932', 'username': 'bming5'}...",NaN
19,1183910767294328833,1183910767294328833,1571101297000,2019-10-14,21:01:37,EDT,2687613918,jarheadjenny,Jenny Hawkes Jenkins,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '2687613918', 'username': 'Jarhea...",NaN
20,1183910755655208960,1183910755655208960,1571101294000,2019-10-14,21:01:34,EDT,1529917477,solon594bce,Matthew Kracht,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1529917477', 'username': 'solon5...",NaN
21,1183910694829342726,1183910694829342726,1571101280000,2019-10-14,21:01:20,EDT,133308666,crhatch,C Richard Hatch,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '133308666', 'username': 'crhatch...",NaN
22,1183910660666621952,1183903006816784384,1571101272000,2019-10-14,21:01:12,EDT,81187992,fucktreason,Protect the Republic 🖕 Trump & His Treasonous Fam,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '81187992', 'username': 'FuckTrea...",NaN
23,1183910376485855235,1183910376485855235,1571101204000,2019-10-14,21:00:04,EDT,19504020,thelizrusso,Liz Russo,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '19504020', 'username': 'TheLizRu...",NaN
24,1183910361352855558,1183910361352855558,1571101200000,2019-10-14,21:00:00,EDT,17365337,mynews13,Spectrum News 13,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '17365337', 'username': 'MyNews13'}]",NaN
25,1183910360644018176,1183910360644018176,1571101200000,2019-10-14,21:00:00,EDT,17308428,bn9,Spectrum Bay News 9,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '17308428', 'username': 'BN9'}]",NaN
26,1183910081387290624,1183910081387290624,1571101134000,2019-10-14,20:58:54,EDT,821095334956961797,10minutesaday4u,10 Minutes & Kamala All Day 🍩 🐝 💗💜💙,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '821095334956961797', 'username':...",NaN
27,1183909755103961094,1183909755103961094,1571101056000,2019-10-14,20:57:36,EDT,1044325386220445696,iroqoiswarrior,LeFleur,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1044325386220445696', 'username'...",NaN
28,1183909705078493191,1183909705078493191,1571101044000,2019-10-14,20:57:24,EDT,1529917477,solon594bce,Matthew Kracht,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1529917477', 'username': 'solon5...",NaN
29,1183909678931161090,1183908206088728576,1571101038000,2019-10-14,20:57:18,EDT,1149489901206982656,saveusallll,Peaceonearth2019🙏🏻🙌🏻🇨🇦♥️🇺🇸💙🇬🇷💙🇮🇱🗺️,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1149489901206982656', 'username'...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7380,1173207788299980801,1173207788299980801,1568549508000,2019-09-15,08:11:48,EDT,1128737143524855809,vssake,I eata brains for Buttigieg 🧟‍♀️🧟‍♂️,NaN,...,https://twitter.com/PeteButtigieg/status/11730...,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1128737143524855809', 'username'...",NaN
7381,1173206244875628546,1172692087030124544,1568549140000,2019-09-15,08:05:40,EDT,1173038310219898880,linakim777,Lina Kim,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1173038310219898880', 'username'...",NaN
7382,1173205902654156802,1173205902654156802,1568549058000,2019-09-15,08:04:18,EDT,549593369,sharpestjim,SharpestJim™,NaN,...,https://twitter.com/Talkmaster/status/11723093...,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '549593369', 'username': 'Sharpes...",NaN
7383,1173205740778950656,1173205740778950656,1568549020000,2019-09-15,08:03:40,EDT,1173038310219898880,linakim777,Lina Kim,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1173038310219898880', 'username'...",NaN
7384,1173200391510614016,1173200391510614016,1568547745000,2019-09-15,07:42:25,EDT,867927952931074049,amywhee86997992,Amy Wheeler,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '867927952931074049', 'username':...",NaN
7385,1173199937779027968,1173199937779027968,1568547636000,2019-09-15,07:40:36,EDT,763863521985789952,patriotdoggo,NomDoggoNom,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '763863521985789952', 'username':...",NaN
7386,1173199349075066880,1173199349075066880,1568547496000,2019-09-15,07:38:16,EDT,289118612,tomthunkitsmind,Tomthunkit™,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '289118612', 'username': 'Tomthun...",NaN
7387,1173197153512017925,1173197153512017925,1568546973000,2019-09-15,07:29:33,EDT,763863521985789952,patriotdoggo,NomDoggoNom,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '763863521985789952', 'username':...",NaN
7388,1173196040947851264,1173104260751482880,1568546707000,2019-09-15,07:25:07,EDT,20831152,drsuzannel,Suzanne Lachmann 🇺🇸,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '20831152', 'username': 'DrSuzann...",NaN
7389,1173194300332470277,1173194300332470277,1568546292000,2019-09-15,07:18:12,EDT,763863521985789952,patriotdoggo,NomDoggoNom,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '763863521985789952', 'username':...",NaN
7390,1173193770759872512,1172343062732955648,1568546166000,2019-09-15,07:16:06,EDT,34589964,elaineisaak,Elaine Isaak,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '34589964', 'username': 'elaineis...",NaN
7391,1173193152615931906,1173193152615931906,1568546019000,2019-09-15,07:13:39,EDT,27737035,kristopheralan,Kristopher Alan,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '27737035', 'username': 'Kristoph...",NaN
7392,1173190272911433728,1173190272911433728,1568545332000,2019-09-15,07:02:12,EDT,763863521985789952,patriotdoggo,NomDoggoNom,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '763863521985789952', 'username':...",NaN
7393,1173185111761858560,1173185111761858560,1568544102000,2019-09-15,06:41:42,EDT,389340413,geepeeters,Geeraard 🤔 Peeters,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '389340413', 'username': 'GeePeet...",NaN
7394,1173183869387976704,1173183869387976704,1568543805000,2019-09-15,06:36:45,EDT,1007093933963345920,diszident2,diszident2,NaN,...,https://twitter.com/CmookieB/status/1150128071...,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1007093933963345920', 'username'...",NaN
7395,1173183429480996865,1173183429480996865,1568543700000,2019-09-15,06:35:00,EDT,389340413,geepeeters,Geeraard 🤔 Peeters,NaN,...,https://twitter.com/TulsiGabbard/status/117305...,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '389340413', 'username': 'GeePeet...",NaN
7396,1173182347929378816,1172310513105002497,1568543443000,2019-09-15,06:30:43,EDT,1101885468621312001,mugshutter,Shutter Mug,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1101885468621312001', 'username'...",NaN
7397,1173181802103615488,1173181802103615488,1568543312000,2019-09-15,06:28:32,EDT,1074332504436424704,democracyportal,Democracy Portal,NaN,...,https://twitter.com/UN/status/1173175877124775936,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1074332504436424704', 'username'...",NaN
7398,1173178072130117632,1172892672798969861,1568542423000,2019-09-15,06:13:43,EDT,173242630,utopianindigent,ANC_wasted_$15Triln,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '173242630', 'username': 'utopian...",NaN
7399,1173177897034637313,1172892672798969861,1568542381000,2019-09-15,06:13:01,EDT,173242630,utopianindigent,ANC_wasted_$15Triln,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '173242630', 'username': 'utopian...",NaN
7400,1173177334259703808,1173177334259703808,1568542247000,2019-09-15,06:10:47,EDT,1125836476640563200,freeandroidap13,Free Android Apps & Games,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '1125836476640563200', 'username'...",NaN
7401,1173172015425032192,1173172015425032192,1568540979000,2019-09-15,05:49:39,EDT,61851477,mgrant76308,Mark Grant,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '61851477', 'username': 'mgrant76...",NaN
7402,1173171919312437248,1173171919312437248,1568540956000,2019-09-15,05:49:16,EDT,945248899,gregatthewrap,Greg Gilman,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '945248899', 'username': 'GregAtT...",NaN
7403,1173170322662670336,1173170322662670336,1568540576000,2019-09-15,05:42:56,EDT,2900769588,4transformusa,Birdie News🇲🇽,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '2900769588', 'username': '4Trans...",NaN
7404,1173167406895775744,1173167406895775744,1568539880000,2019-09-15,05:31:20,EDT,38668276,cedders68,Cedric Knight🌍,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '38668276', 'username': 'Cedders6...",NaN
7405,1173166588888928256,1173166588888928256,1568539685000,2019-09-15,05:28:05,EDT,450458834,mimihpu123,Mimi H. 🧢🧢🧢🧢,NaN,...,https://twitter.com/gladden_jesse/status/11731...,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '450458834', 'username': 'Mimihpu...",NaN
7406,1173163463272751104,1173163463272751104,1568538940000,2019-09-15,05:15:40,EDT,67568430,iamtsebastian,T Sebastian #Realityist,NaN,...,https://twitter.com/thehill/status/11731557439...,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '67568430', 'username': 'IAMTSeba...",NaN
7407,1173162832793354240,1173162832793354240,1568538790000,2019-09-15,05:13:10,EDT,45356807,tarnevesht,Shahriar 🇮 🇷 ® شهریار,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '45356807', 'username': 'tarneves...",NaN
7408,1173162487002390528,1173162487002390528,1568538707000,2019-09-15,05:11:47,EDT,132535895,madamyez,and the livin's easy,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '132535895', 'username': 'madamye...",NaN
7409,1173162352247746560,1173162352247746560,1568538675000,2019-09-15,05:11:15,EDT,2275841930,luci3020,Ann'G Robinson,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{'user_id': '2275841930', 'username': 'luci30...",NaN

## Collect tweets from a specific user and output to a JSON file with Twint

The `--username` or `-u` flag indicates scraping a specific user's tweets

The `--output` or `-o` flag indicates saving the tweets to a file

The `--json` flag indicates write the file in JSON format

### Collect tweets from @washingtonpost

In [ ]:
!twint --username washingtonpost --output washington-post-tweets.json --json

### Check how many @washingtonpost tweets have been collected

In [92]:
#Your code here

### Collect tweets from @FoxNews

In [ ]:
!twint -u foxnews --output fox-news-tweets.json --json

Twarc won't work in this notebook unless you configure it with your own consumer key, consumer secret, access token, and access token secret. However, the code below shows how you would use twarc for the same purposes.

### Check how many @FoxNews tweets have been collected

In [92]:
#Your code here

### Collect tweets from a Twitter Account of your Choice

In [ ]:
!twint -u YOUR-TWITTER-ACCOUNT-HERE --output YOUR-FILENAME-HERE.json --json

### Collect most recent tweets from a specific user and output to a JSON file with Twarc

In [ ]:
!twarc search demdebate > dem-debate-2019-10-twarc.json

### Collect tweets based on keyword and output to a JSON file with Twarc

In [19]:
!twarc timeline washingtonpost > wa-po-recent.json

# **Tweet Analysis**

Twarc comes with a handy set of utilities for basic Twitter analysis.

To explore these utilities, we're going to use a small portion of the September 2019 #demdebate tweet dataset collected by Ed Summers and Matthew Salzano. The tweet IDs for this dataset can be found on Doc Now's catalog: https://www.docnow.io/catalog/

### Twarc utilities `twarc/utils`

### Identify Top Hashtags `twarc/utils/tags.py`

In [46]:
!python twarc/utils/tags.py dem-debate-2019-09.json | head -n 20

 4492 demdebate
  779 yanggang
  692 myyangstory
  609 yangbeatstrump
  514 yangsdebatesurprise
  479 isupportyang
  233 yang2020
  202 yangmediablackout
  191 democraticdebate
  189 demdebate3
  173 googleandrewyang
  136 teamtrump
  118 bigtruth
  115 texas
  115 beto2020
   99 humanityfirst
   83 phasethree
   68 medicareforall
   68 demdebatetsu
   60 election2020

### Create a Word Cloud `twarc/utils/wordcloud.py`

In [87]:
!python twarc/utils/wordcloud.py dem-debate-2019-09.json > dem-debate-2019-09.html

View your word cloud:

[dem-debate-2019-09.html](dem-debate-2019-09.html)

### Identify Top Emojis

In [50]:
!python twarc/utils/emojis.py dem-debate-2019-09.json | head -n 20

👍   499
😂   175
🔥    91
🇺🇸    76
🎉    70
😀    68
🤣    65
😅    58
✨    54
🚨    53
📺    52
👏    50
🤠    39
⬇    38
✅    37
❤    29
🤡    28
☀    20
👇    20
📢    20

# Further Resources

Deen Freelon, Charlton D. McIlwain, and Meredith D. Clark, [“Beyond the hashtags: #Ferguson, #Blacklivesmatter, and the online struggle for offline justice.”](http://cmsimpact.org/resource/beyond-hashtags-ferguson-blacklivesmatter-online-struggle-offline-justice/)

Freelon, et al. purchased 40,815,975 tweets that were published between June 1, 2014 and May 31, 2015 that matched 45 keywords—the words or hashtags #BlackLivesMatter, #Ferguson, or the names of 20 other black individuals that were killed by the police during this year. These researchers then generously shared [the tweet IDs for this dataset](http://dfreelon.org/2017/01/03/beyond-the-hashtags-twitter-data/) for free online.